.container {
    min-height: 100vh;
    min-width: 550px;
    background-color: #e9e9e9;
    overflow: scroll;
}

.toolbar {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr repeat(3, auto);
    grid-column-gap: 0.6rem;
    border-bottom: #e4e4e4 1px solid;

    .refresh {
        opacity: 0.5;
        // fix for mat-button-icon icon position
        font-size: 0;
    }

    .score {
        text-align: center;
        padding-top: 0.1rem;
        border-radius: 0.2rem;
        width: 2.5rem;
        color: white;
    }

    .score-blues {
        background-color: #54a4f3;
    }

    .score-reds {
        background-color: #dc5c60;
    }
}

@keyframes show-agents {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

mat-grid-list {
    margin: 1.5rem 1rem;

    opacity: 0;
    animation-name: show-agents;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    mat-grid-tile {
        overflow: visible;

        .agent-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}

button {
    text-transform: uppercase;
}
