<div class="container">
    <mat-toolbar class="toolbar">
        <div class="codenames-title">
            <button mat-button (click)="onCodenamesClick()">Codenames</button>
        </div>

        <button mat-button color="primary" (click)="onCopyGameLinkClick()">
            Ссылка на игру
        </button>

        <!--
        <button mat-button color="primary">
            Опции
        </button>
        -->

        <div class="spacer"></div>

        <button mat-button color="primary">
            <span class="mat-h1"><strong>{{bluesLeft}}</strong></span>
        </button>

        <div>&nbsp;</div>

        <button mat-button color="accent">
            <span class="mat-h1"><strong>{{redsLeft}}</strong></span>
        </button>
    </mat-toolbar>

    <mat-grid-list cols="5" rowHeight="2:0.9" gutterSize="0.5rem" class="cards-grid">
        <mat-grid-tile *ngFor="let agent of board; let i = index; trackBy: agentId">

            <mat-card matRipple class="agent-card mat-elevation-z1"
                (click)="uncoverAgent(i)"
                [ngClass]="{
                    'muted': agent.uncovered,
                    'agent-unknown': agent.side == UNKNOWN,
                    'card-hover': agent.side == UNKNOWN,
                    'agent-blue': agent.side == BLUE,
                    'agent-red': agent.side == RED,
                    'agent-black': agent.side == BLACK,
                    'agent-neutral':agent.side == NEUTRAL
                }">
                <div class="agent-name">
                    {{agent.name}}
                </div>
                <div class="progress-bar">
                    <mat-progress-bar *ngIf="uncoveringInProgress.has(i)"
                        mode="indeterminate" color="warn">
                    </mat-progress-bar>
                </div>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>
