.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

    justify-items: stretch;
    align-items: stretch;
}

.card-wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 1vw;
}

.stat {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    display: flex;
    align-items: center;
}

.menu-button {
    padding: 2vw;
    //border-color: #62a03f;
    border-radius: 1vw;
    //border-width: 0.2vw;
    //border-style: solid;

    background-color: #d2ffbd;
    color: #62a03f;
    text-transform: uppercase;
    font-size: 2.5vw;
    opacity: 0.7;
}

.reds-left {
    margin-right: 1vw;
    padding: 2vw;
    border-radius: 1vw;
    background-color: #c74248;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5vw;
}

.blues-left {
    padding: 2vw;
    border-radius: 1vw;
    background-color: #4254c7;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5vw;
}

.spacer {
    flex-grow: 1;
}
