<div class="container">
    <mat-toolbar class="toolbar">
        <!--        <button mat-stroked-button (click)="onCodenamesClick()">Codenames</button>-->

        <button mat-stroked-button color="primary" (click)="onCopyGameLinkClick()">Ссылка на игру</button>
        <button mat-stroked-button color="accent" (click)="onNewGameClick()">Новая игра</button>

        <div class="delimiter"></div>

        <mat-chip-list>
            <mat-chip color="accent" selected *ngIf="game?.gameInChain > 1">{{game?.gameInChain - 1}} сыграно</mat-chip>
            <mat-chip selected *ngIf="playersCount > 1">{{playersCount}} он-лайн</mat-chip>
            <mat-chip disabled selected *ngIf="playersCount <= 1"> ждем игроков...</mat-chip>
        </mat-chip-list>

        <div><!-- spacer --></div>

        <button class="refresh" mat-icon-button (click)="onRefreshClick()">
            <span class="material-icons">refresh</span>
        </button>

        <div class="score score-blues">
            <span class="mat-h1"><strong>{{game?.bluesLeft}}</strong></span>
        </div>
        <div class="score score-reds">
            <span class="mat-h1"><strong>{{game?.redsLeft}}</strong></span>
        </div>
    </mat-toolbar>

    <div class="welcome">
        Готовы?
    </div>

    <mat-grid-list cols="5" rowHeight="2:0.9" gutterSize="0.5rem" *ngIf="!error && game">
        <mat-grid-tile *ngFor="let agent of game.board; let i = index; trackBy: agentId">
            <div class="agent-wrapper">
                <app-agent
                    [name]="agent.name"
                    [side]="agent.side"
                    [uncovered]="agent.uncovered"
                    [uncoveringInProgress]="uncoveringInProgress.has(i)"
                    (click)="uncoverAgent(i)">
                </app-agent>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <app-error *ngIf="error" [text]="error"></app-error>
</div>
