.container {
    min-height: 100vh;
    min-width: 550px;
    background-color: #ebebeb;
    overflow: scroll;
}

.toolbar {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-column-gap: 0.6rem;

    .score {
        text-align: center;
        padding-top: 0.1rem;
        border-radius: 0.2rem;
        width: 2.5rem;
        color: white;
    }

    .score-blues {
        background-color: #54a4f3;
    }

    .score-reds {
        background-color: #dc5c60;
    }
}

mat-grid-list {
    margin: 1.5rem 1rem;

    mat-grid-tile {
        overflow: visible;

        .agent-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}

button {
    text-transform: uppercase;
}
