.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 1rem;
}

mat-card {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;

    > mat-card-title {
        text-transform: uppercase;
    }

    > mat-card-content {
        margin-top: 1rem;

        .team-role {
            background-color: #f2f2f2;
            padding: 1rem 1rem;
            margin: 0.5rem -1rem;

            > button {
                width: 8rem;
                margin-left: 0;
                margin-bottom: 0.8rem;
            }

            > p {
                margin: 0;
            }
        }
    }
}

button {
    text-transform: uppercase;
}
