<div class="uk-flex uk-flex-center uk-flex-middle uk-padding-large uk-drop-top">

    <div class="uk-card uk-card-body uk-card-default uk-width-medium">
        <h3 class="uk-card-title uk-text-uppercase">Codenames</h3>
        <div class="uk-margin">
            Присоединиться к игре:
        </div>
        <div class="uk-flex uk-flex uk-flex-column">
            <button class="uk-button uk-button-danger uk-display-block uk-margin-bottom"
                (click)="onJoinAsCaptainClick()">
                Как капитан
            </button>
            <button class="uk-button uk-button-primary uk-display-block"
                (click)="onJoinAsTeammateClick()">
                Как игрок
            </button>
        </div>

        <div class="uk-padding-small"></div>

        <div class="uk-flex uk-flex uk-flex-column uk-margin">
            <a class="uk-button uk-button-default" href="" (click)="onCopyLinkClick($event)">
                Ссылка для игроков
            </a>
            <div class="uk-text-center" *ngIf="joinLinkCopied">
                <small>Скопирована!</small>
            </div>
        </div>

        <div class="uk-flex uk-flex uk-flex-center uk-margin">
            <a class="uk-button uk-button-text uk-button-small" href="" (click)="onBackClick()">
                Назад
            </a>
        </div>

        <div class="uk-flex" *ngIf="error">
            <div class="uk-text-danger">Error:<br/> {{error}}</div>
        </div>
    </div>

</div>
