.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #0d5aa7;
    overflow: scroll;
    padding: 2rem 1rem;
}

.card {
    display: block;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem 1.5rem 1.5rem;
}

.title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

button {
    text-transform: uppercase;
}

.join-actions {
    margin-top: 1rem;

    > div {
        background-color: #f2f2f2;
        padding: 1rem 1.5rem;
        margin: 0.5rem -1.5rem;

        > button {
            width: 8rem;
            margin-left: 0;
            margin-bottom: 0.8rem;
        }

        > p {
            margin: 0;
        }
    }
}

.b {
    font-weight: 500;
}
