<div class="credentials">Created by <a href="https://vk.com/koldoon">koldoon</a>, 2020. Powered by Nginx, Node.js, Angular and Material Design.</div>

<mat-card class="mat-elevation-z4">
    <mat-card-title>Codenames</mat-card-title>

    <mat-card-subtitle>
        Codenames — настольная игра, придуманная Владей Хватилом и
        опубликованная в 2015 году издательством Czech Games Edition.
    </mat-card-subtitle>

    <p>
        Для того чтобы начать играть нажмите <span class="b">Создать новую игру</span>.
        Другие участники смогут присоединиться к игре после ее создания в любой момент.
    </p>

    <mat-card-actions align="end">
        <button mat-button (click)="onRulesClick()">
            Правила
        </button>
        <button mat-raised-button color="primary" (click)="onCreateGameClick()">
            Создать новую игру
        </button>
    </mat-card-actions>
</mat-card>
