<div class="uk-card card uk-card-body uk-padding-remove-horizontal uk-overflow-hidden uk-margin-bottom"
    [ngClass]="{
        'muted': agent.uncovered,
        'agent-unknown': agent.side == UNKNOWN,
        'card-hover': agent.side == UNKNOWN,
        'agent-blue': agent.side == BLUE,
        'agent-red': agent.side == RED,
        'agent-black': agent.side == BLACK,
        'agent-neutral':agent.side == NEUTRAL
    }">
    <h3 class="uk-card-title uk-text-uppercase">
        {{agent.name || '&nbsp;'}}
    </h3>
</div>
