:host {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 1rem;
}

mat-card {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;

    > mat-card-title {
        text-transform: uppercase;
    }

    > mat-progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 4px;
    }

    .mat-error {
        margin-top: 1rem;
    }
}

.credentials {
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
    padding: 0.2rem 0.5rem;
    color: white;
}

button {
    text-transform: uppercase;
    margin-top: 1.5rem;
}
