<div class="container">
    <div class="credentials">Created by koldoon, 2020. Powered by Nginx, Node.js, Angular and Material Design.</div>

    <mat-card class="mat-elevation-z4">
        <mat-card-title>Codenames</mat-card-title>

        <mat-card-subtitle>
            Краткие правила игры
        </mat-card-subtitle>

        <p>
            Капитаны двух команд знают кодовые имена своих тайных агентов. А их товарищи
            по команде не догадываются, кто скрывается за тем или иным именем. Команды
            соревнуются, стараясь первыми установить контакт со всеми своими агентами.
        </p>
        <p>
            В свой ход капитан даёт подсказку, состоящую из одного слова, которое объединяет
            несколько карточек на поле. Игрокаи пытаются отгадать слова своей команды,
            при этом остерегаясь тех карточек, которые принадлежат соперникам.
        </p>
        <p>
            И все хотят избежать встречи с убийцей.
        </p>

        <mat-card-actions align="end">
            <button mat-button (click)="onBackClick()">
                Назад
            </button>
        </mat-card-actions>
    </mat-card>

</div>
