@import '~@angular/material/theming';

mat-card.agent {
    border-radius: 2px;
    height: 100%;
    width: 100%;

    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);;
    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;

    user-select: none;

    .agent-name {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 500ms ease-out;

        &.show-name {
            opacity: 1;
        }
    }

    // --- Agent Card Options ---

    &.agent-blue {
        background-color: #64b5f6;
    }

    &.agent-red {
        background-color: #e57373;
    }

    &.agent-neutral {
        background-color: #ffe0b2;
        color: #362620;
    }

    &.agent-black {
        background-color: #2d2828;
        color: #ffffff;

        &.uncovered {
            color: #6e6e6e;
        }
    }

    &.agent-unknown {
        background-color: #f8f8f8;
        color: #1b1b1b;
    }

    &.hover-effect {
        &:hover {
            @include mat-elevation(4);
            transform: translateY(-0.2rem);
        }
    }

    &.agent-uncovered {
        @include mat-elevation(0);
        opacity: 0.2;
    }

}
