<div class="container">
    <mat-card class="card mat-elevation-z4">
        <mat-card-title class="title">Codenames</mat-card-title>

        <mat-card-subtitle>
            Codenames — настольная игра, придуманная Владей Хватилом и
            опубликованная в 2015 году издательством Czech Games Edition.
        </mat-card-subtitle>

        <div class="mat-card-content">
            Для того чтобы начать играть нажмите <span class="b">Создать новую игру</span>.
            Другие участники смогут присоединиться к игре после ее создания в любой момент.
        </div>

        <button color="primary" mat-raised-button (click)="onCreateGameClick()">
            Создать новую игру
        </button>

        <div class="mat-error" *ngIf="error">
            Connection Error
        </div>
    </mat-card>
</div>
