.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #0d5aa7;
    overflow: scroll;
    padding: 2rem 1rem;
}

.card {
    display: block;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem 1.5rem 1rem;
}

.title {
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

button {
    text-transform: uppercase;
}

.mat-card-content {
    margin-bottom: 2rem;
}

.b {
    font-weight: 500;
}
