.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 1rem;
}

mat-card {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;

    > mat-card-title {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    > button {
        text-transform: uppercase;
        margin-top: 1.5rem;
    }

    > mat-progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 4px;
    }

    .mat-error {
        margin-top: 1rem;
    }
}

